.paymentcomplete-body {
  width: 800px;
  margin: 0 auto;
}

.Paymentcomplete-body-header {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: 20px;
  align-items: end;
  text-align: right;
}

.payment-complete-text h2 {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.Paymentcomplete-body-header h2 {
  font-size: 25px;
  font-weight: 900;
}

.Paymentcomplete-body-header .page p {
  display: inline;
}

.Paymentcomplete-body-header .page .page-3 {
  font-weight: bold;
}

.Paymentcomplete-body-header .page .page-3 span {
  font-weight: 100;
}

.Paymentcomplete-body-header span {
  margin-left: 5px;
}

.payment-complete-info {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.payment-complete-info h3 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  background: #51c1f7;
  display: flex;
  justify-content: space-between;
}
/* #2764e6 */

.payment-complete-info h3 span {
  color: white;
  font-size: 16px;
}

.payment-complete-info ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.payment-complete-info ul li p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1.5px;
}
.payment-complete-info ul li span {
  font-size: 18px;
  letter-spacing: -1.5px;
}

.payment-complete-text {
  text-align: center;
}

.payment-product {
  border-bottom: 1px solid #ccc;
}

.payment-product:last-child {
  border-bottom: none;
}

.paymentcomplete-body .button {
  margin: 100px 0;
  text-align: center;
}

.paymentcomplete-body .button a {
  padding: 20px;
  background-color: #51c1f7;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.paymentcomplete-body .button a:hover {
  background-color: #6ca6f3;
}
