* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration-line: none;
}
ul {
  list-style: none;
}

/* 상세페이지 네비게이션  */
.ProductInfo-navbar {
  width: 1200px;
  margin: 0 auto;
  padding: 8px;
  background-color: #ffffff;
  border-top: 2px solid #6ca6f3;
  border-bottom: 1px solid #6ca6f3;
  margin-bottom: 50px;
  transition: top 0.3s; /* 고정되는 효과를 위한 트랜지션 */
}

.ProductInfo-menu {
  display: flex;
  justify-content: space-around;
}

.ProductInfo-menu a {
  font-size: 18px;
  color: #222222;
  font-weight: bold;
}

/* 네비게이션 바 고정 */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: #2764e6;
  padding: 10px;
  width: 1200px;
  margin: 0 auto;
}
